* {margin: 0px; padding: 0px; cursor: default;}
input {cursor: pointer;}

:root {
    --cor1: #EB6C7D;
    --cor2: #806CEB;
    --cor3: white;
}

body { font-family: 'Verdana'; }

header {background-color: var(--cor1); padding: 15px;}
header h2 {margin-top: 40px; margin-bottom: 20px;}
header button {padding: 6px 10px; background: var(--cor2); color: white; border: none; border: 2px solid var(--cor1); cursor: pointer;}
header button:hover {border: 2px solid var(--cor3);}
header label {margin-top: 10px;}

div#flags {
    position: absolute;
    right: 10px;
    top: 10px;
}

img.language {
    width: 40px;
    height: 28px;
    cursor: pointer;
}

div#container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
    font-size: 2em;
    position: relative;
}

div#container button {
    padding: 5px;
}

div#container p {
    font-weight: bold;
}

div#container div.team-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

div#container img {
    width: 25px;
    cursor: pointer;    
}


#arrow-A {
    display: none;
}

button#colapse {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50px;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

div.penaulty-line {font-size: 0.6em; display: flex; align-items: center; justify-content: space-around; gap: 5px;}